main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main p {
  width: fit-content;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 3px double firebrick;
  margin: 1rem auto;
}

main img {
  margin: 1rem auto;
  width: 100%;
  border: 3px solid dodgerblue;
  border-radius: 5px;
  margin-top: 1rem;
}

#zoomDiv {
  text-align: end;
}

#name {
  color: red;
}

#lat {
  color: blue;
}

#lon {
  color:green;
}

