main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 1rem;

}
.card img {
  margin: 1rem auto;
  width: 100%;
  border: 3px solid dodgerblue;
  border-radius: 5px;
  margin-top: 1rem;
}

#zoomDiv {
  text-align: end;
  margin-top: 3rem;
}

#name {
  color: red;
}

#lat {
  color: blue;
}

#lon {
  color:green;
}

